---
import Header from '../components/Header.astro'
import SearchBar from '../components/SearchBar.astro'
import MainLayout from '../layouts/MainLayout.astro'
import { getCollection } from 'astro:content'

// Fetch all the blog posts
const blogPosts = await getCollection('blog', ({ data }) => {
  return data
})

// Pass the fetched data to the data attribute of the section that will show the links
function sendPosts(collection) {
  return JSON.stringify(collection)
}
---

<MainLayout title="Fuzzy Search">
  <!-- Fuzzy Search -->

  <Header />
  <main class="flex flex-col overflow-y-scroll">
    <!-- The section that will show the links to the pages -->
    <section
      id="results"
      class="px-8 py-8 flex flex-col h-full gap-8">
    </section>
    <!-- SearchBar component -->
    <SearchBar />
  </main>
</MainLayout>
