---
export interface Props {
  type: string
  joke: string
  pun: string
}

const { type, joke, pun } = Astro.props
---

<article class="px-8 py-8 border rounded-xl shadow-xl">
  <small>
    {type}
  </small>
  <h1 class="text-xl font-semibold">{joke}</h1>
  <p>
    {pun}
  </p>
</article>
