<div class="border">
  <!-- Prevent the default submit behaviour -->
  <form
    action="submit"
    @submit.prevent>
    <!-- Link a two way connection between the global query variable and the input box -->
    <input
      x-model.debounce="query"
      class="border-t-2 focus:outline-none px-8 focus-within:bg-emerald-50/50 focus-within:py-6 w-full text-2xl p-4 transition-all"
      placeholder="what are you searching for?"
      autocomplete="none"
      type="text"
    />
  </form>
</div>
