---
export interface Porps {
  title: string
}

const { title = 'Default Page' } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body
    class="h-screen flex flex-col justify-between overflow-hidden"
    x-data="data">
    <slot />
  </body>
</html>
<script src="../js/global.js"></script>
